@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root{
    --primary-font: 'Kanit', sans-serif;
    --text-color: #FFFFFF;
    --primary-color: #4c566a;
    --secondary-color: #dadada;
    --tertiary-color: #3b4252;
    --quaternary-color: #2e3440;
}

html{
    scroll-behavior: smooth;
}


body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--quaternary-color);
    font-family: var(--primary-font);
    color: var(--text-color);
}

.title-name{
    line-height: 1;
}

ul{
    list-style: none;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

nav a:hover{
    color: var(--quaternary-color);
}

nav{
    width:100%;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 3px 2px var(--tertiary-color);
    font-size: 1.5rem;
}

nav ul{
    display: flex;
    white-space: nowrap;
    gap: 1.9rem;
}

.burger-menu{
    display: none;
    font-size: 2rem;
    border:0;
    background-color:transparent;
    cursor: pointer;
}

.menu-bars{
    display: flex;
    justify-content: center;
    max-width: 2rem;
    padding: 0.1rem;
}

.hero{
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3.5rem;
    box-shadow: 30px 0 26px rgba(0, 0, 0, 0.418);
}

.portrait{
    margin: 3rem;
    width: 30vw;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
}

.hero-text{
    text-align: justify;
    font-size: 1.4vw;
    padding: 1rem;
}

.social-links{
    padding: 5rem;
    width: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
}

.social-icon{
    width: 5vw;
}

.projects{
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: justify;
}

.title-1{
    font-size: 2rem;
    text-align: center;
}

.project-list{
    padding: 2rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 7rem;
    row-gap: 2rem;
}

.youtubeVid{
    aspect-ratio: 16/9;
    min-width: 400px;
}

iframe.instagram-media.instagram-media-rendered {
    min-width: 250px !important;
}

.description{
    font-size: 1.2rem;
}

.container{
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: var(--quaternary-color)
}

.title-2{
    font-size: 2.3rem;
    text-align: center;
}

.skills{
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    text-align: justify;
}

.skills-graph{
    width:100%!important;
    margin: auto;
}

.skills-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}

#hard{
    justify-content: center;
    width: 46.3vw;
    height: 46.3vw;
    min-width:326px;
    min-height: 326px;
    aspect-ratio: 1/1;
    padding: 1.2vw;
}

#soft{
    justify-content: center;
    width: 48.9%;
    min-width:326px;
    padding: 1.2vw;
}

.soft-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    column-gap: 5rem;
    flex-wrap: wrap;
    text-align: center;
}

.soft-skills li{
    width: 9.3rem;
}
.soft-skills li img{
    padding: 1.5rem;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.418);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.title-3{
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.scroll-up{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.scroll-up img{
    width: 3rem;
    height: 2.5rem;
    padding: 0.5rem;
}

@media (max-width: 800px){
    .hero{
        flex-direction: column;
        gap: 1rem;
    }

    .portrait{
        width: 60vw;
    }

    .hero-text{
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    .social-links{
        flex-direction: row;
    }

    .social-icon{
        width: 10vw;
    }
}