@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root{
    --primary-font: 'Kanit', sans-serif;
    --text-color: #FFFFFF;
    --primary-color: #4c566a;
    --secondary-color: #dadada;
    --tertiary-color: #3b4252;
    --quaternary-color: #2e3440;
}

html{
    scroll-behavior: smooth;
}


body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--quaternary-color);
    font-family: var(--primary-font);
    color: var(--text-color);
}

.title-name{
    line-height: 1;
}

ul{
    list-style: none;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

nav a:hover{
    color: var(--quaternary-color);
}

nav{
    width:100%;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 3px 2px var(--tertiary-color);
    font-size: 1.5rem;
}

nav ul{
    display: flex;
    white-space: nowrap;
    gap: 1.9rem;
}

.burger-menu{
    display: none;
    font-size: 2rem;
    border:0;
    background-color:transparent;
    cursor: pointer;
}

.hero{
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3.5rem;
    box-shadow: 30px 0 26px rgba(0, 0, 0, 0.418);
}

.portrait{
    margin: 3rem;
    width: 30vw;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
}

.hero-text{
    text-align: justify;
    font-size: 1.4vw;
    padding: 1rem;
}

.social-links{
    padding: 5rem;
    width: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
}

.social-icon{
    width: 5vw;
}

.projects{
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: justify;
}

.title-1{
    font-size: 2rem;
    text-align: center;
}

.project-list{
    padding: 2rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 7rem;
    row-gap: 2rem;
}

.youtubeVid{
    aspect-ratio: 16/9;
    min-width: 300px;
}

iframe.instagram-media.instagram-media-rendered {
    min-width: 250px !important;
}

.description{
    font-size: 1.2rem;
}

.container{
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: var(--quaternary-color)
}

.title-2{
    font-size: 2.3rem;
    text-align: center;
}

.skills{
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    text-align: justify;
}

.skills-graph{
    width:100%!important;
    margin: auto;
}

.skills-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}

#hard{
    justify-content: center;
    width: 46.3vw;
    height: 46.3vw;
    min-width:326px;
    min-height: 326px;
    aspect-ratio: 1/1;
    padding: 1.2vw;
}

#soft{
    justify-content: center;
    width: 46.3vw;
    height: 46.3vw;
    min-width:326px;
    padding: 1.2vw;
}

.soft-skills{
    margin: 1rem;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2vw;
    column-gap: 4vw;
    flex-wrap: wrap;
    text-align: center;
}

.soft-skills li{
    width: 9vw;
}
.soft-skills li img{
    padding: 1.5vw;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.418);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.soft-skills li img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.title-3{
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.scroll-up{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.scroll-up img{
    width: 3rem;
    height: 2.5rem;
    padding: 0.5rem;
}

.contact{
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: justify;
}

.form-container{
    max-width: 40.75rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: var(--quaternary-color)
}

.form-container label{
    line-height: 2.7em;
}

.form-container textarea{
    min-height: 6.25rem;
    font-size: 14px;
}

.form-container .input-field{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px outset var(--primary-color);
}

.submit-btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.submit-btn:hover{
    background-color: var(--tertiary-color);
    border: 2px solid var(--quaternary-color);
    color: #fff;
    cursor: pointer;
}

.footer{
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.footer a{
    color: #79bbf9;
}

.footer a:hover{
    color: #fff;
}

.credit{
    list-style-type: circle;
    margin: 2rem 0;
}

.creditPage{
    padding: 2.5rem 3rem;
}

.back{
    padding: 1rem;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.back:hover{
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}
@media (max-width: 1200px){
    #soft{
        justify-content: center;
        width: 49%;
        height: auto;
        min-width:326px;
        padding: 1.2vw;
    }

    .soft-skills{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 3rem;
        column-gap: 5rem;
        flex-wrap: wrap;
        text-align: center;
    }
    .soft-skills li{
        width: 9.3rem;
    }
    .soft-skills li img{
        padding: 1.5rem;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.418);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}


@media (max-width: 800px){

    .nav ul{ display: none;}

    .nav .burger-menu{
        float: right;
        display: block;
        width: 3rem;
        height: 3rem;
        justify-content: center;
        background-color: var(--secondary-color);
        border-radius: 5px    ;
        -webkit-border-radius: 5px    ;
        -moz-border-radius: 5px    ;
        -ms-border-radius: 5px    ;
        -o-border-radius: 5px    ;
    }

    .menu-bars{
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        margin: auto;
    }

    .nav.responsive:not(.title-name){
        flex-direction: column;
        align-items: center;
    }

    .nav.responsive .burger-menu{
        position: absolute;
        top: 2rem;
        right: 3.5rem;
    }

    .nav.responsive ul{
        margin-top: 1rem;
        float: none;
        display: block;
        text-align: center;
    }

    .nav ul li{
        margin: 8px;
    }

    .hero{
        flex-direction: column;
        gap: 1rem;
    }

    .portrait{
        width: 60vw;
    }

    .hero-text{
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    .social-links{
        flex-direction: row;
        padding: 4vw;
    }

    .social-icon{
        width: 10vw;
    }
}